<div class="border border-black/90 p-3">
    <form [formGroup]="cartForm" (ngSubmit)="onSubmit()" class="px-2  mx-auto flex flex-col gap-2">
        <div class="flex flex-col">
            <label for="name" class="text-lg">Ime i prezime</label>
            <input 
                class="border-2 p-2 rounded-md" 
                type="text" 
                id="name" 
                formControlName="name" 
                required 
                autocomplete="off">
        </div>
        <div class="flex flex-col">
            <label for="address" class="text-lg">Adresa</label>
            <input 
                class="border-2 p-2 rounded-md" 
                type="text" 
                id="address" 
                formControlName="address" 
                required 
                autocomplete="off">
        </div>
        <div class="flex flex-col">
            <label for="e_mail" class="text-lg">E-mail</label>
            <input 
                class=" border-2 p-2 rounded-md" 
                type="email" 
                id="e_mail" 
                formControlName="e_mail" 
                required 
                autocomplete="off">
        </div>
        <div class="flex flex-col">
            <label for="tel" class="text-lg">Telefon</label>
            <input 
                class="border-2 p-2 rounded-md" 
                type="tel" 
                id="tel" 
                formControlName="tel" 
                required 
                autocomplete="off">
        </div>
        <div class="flex ">
            <button 
                class="text-white px-3 py-2 rounded-md bg-blue-500" 
                type="submit"
                [disabled]="!(cartForm.valid && isEmpty && isAveleble)"
                [ngStyle]="{'background-color':  !(cartForm.valid && isEmpty && isAveleble)? '#93C5FD' : '#3B82F6' }">
                Poruci
            </button>
        </div>
    </form>
</div>